.git
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
public/build
public/hot
runtime-logs
